circle {
    fill: #3498db;
    stroke: #2980b9;
    stroke-width: 2px;
    z-index: 1; /* Set a higher z-index to draw circles above links */
  }
  
  path {
    fill: none;
    stroke: #34495e;
    stroke-width: 2px;
  }
  
  text {
    font-family: Arial, sans-serif;
    font-size: 12px;
    text-anchor: middle;
  }


  .circle-node {
    cursor: pointer;
  }
  
  .circle-node:hover {
    fill: #e74c3c; /* Change the fill color on hover */
  }

  .selected-node {
    stroke: #e74c3c;
    stroke-width: 2px;
  }

  .selected {
    fill: yellow;
  }